<div class="w-full overflow-x-auto rounded-geist border border-gray-200 dark:border-gray-700">
    <table class="w-full text-left text-sm text-gray-600 dark:text-gray-300 bg-white dark:bg-gray-800">
        <thead class="bg-gray-50 dark:bg-gray-900 text-xs uppercase font-medium text-gray-500 dark:text-gray-400">
            <tr>
                {% for header in headers %}
                <th scope="col" class="px-6 py-3 tracking-wider border-b border-gray-200 dark:border-gray-700">{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 dark:divide-gray-700">{{ slot }}</tbody>
    </table>
</div>
